*{
    margin: 0px;
    padding; 0px;
}

.center-box {
    margin: 20px;
    padding: 80px;
    background-color: navy;
}

.center-item {
    height: 100px;
    width: 100px;
    margin: auto;
    padding: auto;
    background-color: rgb(255, 254, 242);
    display: flex;
    align-items: center;
}